[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jonathanvila
[access "refs/for/refs/*"]
	read = group user/jonathanvila
	push = group user/jonathanvila
	label-Code-Review = -2..+2 group user/jonathanvila
	label-Verified = -1..+1 group user/jonathanvila
	rebase = group user/jonathanvila
	removeReviewer = group user/jonathanvila
	submit = group user/jonathanvila
[access "refs/heads/*"]
	read = group user/jonathanvila
	create = group user/jonathanvila
	push = +force group user/jonathanvila
	pushMerge = group user/jonathanvila
[access "refs/tags/*"]
	push = +force group user/jonathanvila
	pushTag = group user/jonathanvila
	pushSignedTag = group user/jonathanvila
